.breadcrumb {
  display: flex;
  align-items: center;
  &__item:hover {
    color: var(--secondary-color);
  }
  &__separator {
    margin: 0 8px;
    color: #888;
  }
  &__icon {
    font-size: 20px;
  }
}

@media screen and (max-width: 990px) {
  .breadcrumb {
    font-size: 8pt !important;
  }
}
