.maddinstansi {
  &__title {
    margin-bottom: 20px;
    border-bottom: 1px solid #dee2e6;
  }
  &__input {
    width: 80vw;
  }
  &__btn {
    margin-top: 20px;
  }
  &__bagiansearch {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    &__inputsearch {
      width: 100%;
    }
    &__btnsearch {
      border-radius: 25px;
      padding: 15px 15px;
      background-color: #f4f6f8;
      width: 60px;
      color: #003285;
    }
  }
}
